# Copier ce fichier en .env et remplir les valeurs

# URL de connexion PostgreSQL (ex: Scalingo ou locale)
DATABASE_URL=postgres://user:password@host:5432/dbname

# Environnement (development | production)
NODE_ENV=development

# Port local (Scalingo l'injecte automatiquement)
PORT=3000
